{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block heading %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="form-group">
            <select class="form-control" id="symbol" name="symbol" onchange="checkInputs()" autofocus>
                <option disabled selected value="">Symbol</option>
                {% for stock in stocks %}
                    {% if stock["SUM(quantity)"] > 0 %}
                        <option value="{{ stock['symbol'] }}">{{ stock['symbol'] }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <input class="form-control" id="shares" name="shares" placeholder="Shares" type="number" min=1 oninput="checkInputs()" autocomplete="off">
        </div>
        <button class="btn btn-primary" id="submit" type="submit" disabled>Sell</button>
    </form>
    <script>
        let symbol = document.querySelector('#symbol')
        let shares = document.querySelector('#shares')
        let submit = document.querySelector('#submit')
        function checkInputs() {
            if (symbol.value === '' || shares.value === '') {
                submit.disabled = true;
            } else {
                submit.disabled = false;
            }
        }
    </script>
{% endblock %}
